.alert-banner {
  background-color: var(--lightopacityred);
  color: var(--lightred);
  padding: 1rem;
  border-left: 4px solid var(--lightred);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-content {
  display: flex;
  flex-direction: column;
}

.alert-content-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-content-left span {
  font-size: 1.5em;
}

.alert-message {
  font-weight: bolder;
  font-size: 1.3em;
}

.alert-content ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

.alert-icon {
  margin-right: 0.5rem;
}

.close-btn {
  background: transparent;
  border: none;
  color: var(--lightred);
  font-size: 1.4rem;
  cursor: pointer;
}
