html,
body {
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif !important;
}

#root,
#app {
  min-height: 100%;
  width: 100%;
  background-color: var(--darkblue);
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
